.header__title {
    width: 60%;
    margin: auto;
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }


  .header__title h1 {
    font-size:1.3rem;

  }