.container {
  width: 60%;
  margin: auto;
  padding-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.container p {
  font-size: 1.1rem;
  letter-spacing: 0.01rem;
  color: black;
}

.form_group {
  margin-top: 1.9em;
  font-size: 1rem;
}

.form_group input {
  width: 530px;
  height: 3em;
  border-radius: 0.8em;
  border: 2.5px solid #7d00c6;
  padding-left: 0.6em;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.3em;
}

.form_group ::placeholder {
  padding-left: 1.3rem;
  font-size: 1.2rem;
}

.btn1 {
  width: 540px;
  height: 2.6em;
  border-radius: 0.6em;
  background-color: #7d00c6;
  margin-bottom: 0.9em;
  font-weight: 700;
  font-size: 1.3rem;
  margin-left: 7em;

  color: white;
}
