/* .question__wrapper {
    width: 97%;
    margin: auto;
    padding-top: 8em;
} */

.quick__quiz__container {
    position: relative;
    height: 112vh;
}

.quest__cont {
    display: flex;
    flex-direction: column;
}

.quest__cont .heading {
    display: flex;
    justify-content: space-between;
    padding-top: 5em !important;
}


h3.question {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    margin-top: .9em;
}

.quest__cont .content {
    width: 57%; 
    margin: auto;
    padding-top: 4em;
}

.select__option__container {
    display: flex;
    justify-content: space-between;
}

.select__option__container .option__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option__card .option__rep__img {
    border: 3px solid #D9D9D9;
    height: 17em;
    width: 14em;
    border-radius: 12px;
    /* background-color: #D9D9D9; */
}

.option__card p {
    margin-top: 1em;
    font-weight: 600;
    font-size: 1.3rem;
    color: black;
}

.option__rep__img img {}

.quest__cont .dlb__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 8em;
    margin-bottom: 3em;
}

.dlb__btn .submit__selected__btn {
    height: 4em;
    width: 13em;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 15px;
}

.skip__btn {
    background-color: transparent;
    border: 2px solid #7D00C6;
    color: #7D00C6;
}

.submit__btn {
    background-color: #7D00C6;
    color: white;
}