.question__wrapper {
    width: 97%;
    margin: auto;
    padding-top: 6em;
}

.question__wrapper .quest__cont {
    display: flex;
    flex-direction: column;
}

.quest__cont .heading {
    display: flex;
    justify-content: space-between;
}


h3.question {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    margin-top: .9em;
}

.quest__cont .content {
    width: 80%;
    margin: auto;
}